{
  "semi": true,               // Always add semicolons
  "singleQuote": true,        // Use single quotes instead of double
  "trailingComma": "es5",     // Add trailing commas where valid in ES5 (objects, arrays)
  "printWidth": 80,           // Wrap lines at 80 characters
  "tabWidth": 2,              // Number of spaces per tab
  "useTabs": false,           // Use spaces instead of tabs
  "bracketSpacing": true,     // Add spaces between brackets in object literals: { a: 1 }
  "arrowParens": "always",    // Always include parentheses around arrow function arguments
  "endOfLine": "lf"           // Use LF (Unix-style) line endings
}
